* {
	margin:0;
	padding:0;
}
body {
  font:16px Georgia, serif;
}

a {
  color:#00B7FF;
}

#page-wrap {
	margin: 2px;
	/*margin:2% auto;*/
	color:white;
}

#page-wrap > .main {
	border:1px solid #999;
	padding:1%;
	margin-bottom:1px;
	color:black;
}

section > div {
	padding: 20px;
}

header, nav, section, footer {
	background:#eee;
	text-align:center;
}

nav span {
	margin: 0px 10px 0px 0px;
}

#ErrorMsgs{
	color: #f61;
	font-size: smaler;
}

tbody{
	overflow: auto;
}

div.centraTabla{
	text-align: center;
}

div.centraTabla table {
	margin: 0 auto;
	text-align: left;
}

.fixed {
    position: fixed;
    top: 4px;
    right: 5px;
	border:2px;
    width: 150px;
    border-style: ridge;
	background-color: #FFF;
}

.left-align{
	text-align:left;
}