<div class='centraTabla'>
	<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>        
		<tr><td><%= i+1+".- " %><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
	<% } %>
	</table>
</div>

<form method="get" action="/quizes">
	<strong>Busqueda de preguntas<p>
	<input type="text" name="search" value="">
	<input type="submit" value="Enviar">
</form>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>