<h2>Añadir pregunta:</h2>
<div class='centraTabla'>
	<table>
		<form method="post" action="/quizes/create" >
		  <% include _form.ejs %>
		</form>
	</table>
</div>
<p>&nbsp;</p>
<p><a href="/quizes">Volver</a></p>