<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p><strong>Pregunta:</strong> <%= quiz.pregunta %></p>
	<input type="text" name="respuesta" value="">
	<input type="submit" value="Enviar">
</form>
<p>&nbsp;</p>
<p><a href="/quizes">Volver</a></p>