<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<strong>Pregunta:</strong> <%= quiz.pregunta %><p>
	<input type="text" name="respuesta" value="">
	<input type="submit" value="Enviar">
</form>
<p><a href="/quizes">Volver</a></p>